<link rel="stylesheet" href="./css/base.css">
<body class="bg-light">
    <nav class="navbar navbar-expand-md navbar-primary bg-primary">
        <div class="container">
            <h1><a href="{% url 'home' %}" class="navbar-brand">
                    <strong style="color:white">콩콩마켓</strong></a></h1>
            <div class="collapse navbar-collapse">
                <a href="{% url 'home' %}" class="btn btn-outline-light mt-2 mx-1">콩콩마켓</a>
                {% if request.user.is_active %}

                <div class="btn-group mt-2 mx-1">
                    <a type="button" href="{% url 'market' %}" class="btn btn-outline-light">거래하기</a>
                    <a class="dropdown-item" href="{% url 'promise' %}">약속 잡아요</a>
                    <a class="dropdown-item" href="{% url 'chat' %}">채팅방</a>
                </div>

                {% endif %}
            </div>

            <div class="collapse navbar-collapse justify-content-end" id="navbar">
                {% if request.user.is_active %}
                <h5 class="text-white mt-3 mx-2">Hi, {{ request.user.username }}</h5>
                <a href="{% url 'logout' %}" class="btn btn-light mt-2 mx-2"> Sign Out <i class="fa fa-sign-out"
                        aria-hidden="true"></i></a>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-light mt-2 mx-2"><i class="fa fa-sign-in"
                        aria-hidden="true"></i>
                    Sign In</a>
                <a href="{% url 'signup' %}" class="btn btn-light mt-2 mx-2"><i class="fa fa-user-plus"
                        aria-hidden="true"></i>
                    Sign Up</a>
                {% endif %}
            </div>
        </div>

    </nav>

    {% block body %}
    {% endblock body %}