<link rel="stylesheet" href="./css/chat.css">
{% extends 'base.html' %}
{% block body %}
<h1>채팅방</h1>
<div class="chat_wrap">
        <div class="header">
            CHAT
        </div>
        <div class="chat">
            <ul>
    <!-- 동적 생성 -->
                <script type="text/javascript" src="./chat.js"></script>
            </ul>
        </div>
        <div class="input-div">
            <textarea placeholder="메세지 작성하기."></textarea>
        </div>
        
    <!-- format -->   
        <div class="chat format">
            <ul>
                <li>
                    <div class="sender">
                        <span></span>
                    </div>
                    <div class="message">
                        <span></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {% endblock body %}