<link rel="stylesheet" href="./css/home.css">
{% extends "base.html" %}
{% block body %}
<br>
<div class="top">
  <h1>콩콩마켓</h1>
  <div class="big_box">
    <div class="box">
      <div class="login_btn">로그인/회원가입</div>
    </div> 
  </div>  
</div>
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  <br>
<!-- 각 게시판의 글 목록 간단하게 보여줄 예정-->
<div class="list">

</div>
{% endblock body %}