<link rel="stylesheet" href="./css/new.css">
{% extends 'base.html' %}
{% block body %}

<br>
<div class="d-flex align-items-center flex-column">
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        
        <div>
            <br>
            <label for="title">제목</label>
            <br />
            <input type="text" name="title" id="title">
        </div>
        <br>
        <div>
            <label for="body">내용</label>
            <br />
            <textarea name="body" id="body" cols="30" rows="10"></textarea>
        </div>
        <br>
        <input type="submit" value="글 생성하기">
    </form>
</div>

{% endblock body%}